<% content_for :primary_content do %>
	<h1 class="pb-6 text-3xl font-bold border-b"> <%= @profile.username %></h1>

	<div class="flex items-center">
		<%= render_svg "icons/user", styles: "w-5 h-5 text-indigo-600 fill-current flex-shrink-0 mr-2"%>
		<h3 class="mt-2 mb-3 text-xl font-light">Submissions</h3>
	</div>

	<ul class="divide-y">
		<% @submissions.each do |submission|%>
			<%= render "submissions/submission", submission: submission%>
		<%end%>
	</ul>

	<hr class="my-6">

	<div class="flex items-center">
		<%= render_svg "icons/converation", styles: "w-5 h-5 text-indigo-600 fill-current flex-shrink-0 mr-2"%>
		<h3 class="mt-2 mb-3 text-xl font-light">Comments</h3>
	</div>

	<ul class="divide-y">
		<% @comments.each do |comment|%>
			<%= render "profiles/comment", comment: comment%>
		<%end%>
	</ul>
<%end%>

<% content_for :secondary_content do%>
	<div class="text-center">
		<div class="flex justify-center items-center">

			<%= gravatar_for(@profile, class: "rounded-full w-20 h-20")%>
		</div>
		<p class="font-bold"> <%= @profile.username%></p>
		<p class="font-extralight text-gray-800">Joined <%= @profile.created_at.to_formatted_s(:nice)%></p>

		<div class="mt-6">
			<% if user_signed_in? %>
				<%= link_to "New submission", new_submission_path, class:"btn btn-indigo block w-full"%>

			<% else%>
				<%= link_to "Login", new_user_session_path, class:"btn btn-outline block w-full mb-4"%>
				<%= link_to "Sign up", new_user_registration_path, class:"btn btn-indigo block w-full"%>
			<%end%>
		</div>
	</div>
<%end%>
<%= render "basic_layout"%>
