<% content_for :form_wrap do %>

	<h2 class="mb-6 text-3xl font-bold">Sign up</h2>

	<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>

		<div class="mb-6">
			<%= f.label :email, class: "label" %>
			<%= f.email_field :email, autofocus: true, autocomplete: "email",  class: "input"% >
		</div>

		<div class="mb-6">
			<%= f.label :password, class: "label" %>
			<% if @minimum_password_length %>
				<em>(<%= @minimum_password_length %> characters minimum)</em>
			<% end %>
			<%= f.password_field :password, autocomplete: "new-password", class: "input"%>
		</div>

		<div class="mb-6">
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input"%>
		</div>

		<%= f.submit "Sign up", class: "btn btn-indigo w-full" %>

	<% end %>

	<div class="my-6">
		<%= render "devise/shared/links" %>
	</div>
<% end %>
<%= render "devise/shared/form_wrap" %>
