<% content_for :form_wrap do %>

	<h2 class="mb-6 text-3xl font-bold">Forgot your password?</h2>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		<%= render "devise/shared/error_messages", resource: resource %>

		<div class="mb-6">
			<%= f.label :email, class: "label"%><br />
			<%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input" %>
		</div>

		<%= f.submit "Send me reset password instructions", class: "btn btn-outline w-full" %>

	<% end %>

<% end %>
<%= render "devise/shared/form_wrap" %>
