<%= form_with(model: submission, class: "contents") do |form| %>
	<% if submission.errors.any? %>
		<div id="error_explanation" class="p-6 text-red-800 bg-red-50 rounded border border-red-300">
			<h2 class="font-bold leading-tight"><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

			<ul>
				<% submission.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="my-5">
		<%= form.label :title %>
		<%= form.text_field :title, class: "input"%>
	</div>

	<div class="my-5">
		<%= form.label :body %>
		<%= form.text_field :body, class: "input" %>
	</div>

	<div class="my-5">
		<%= form.label :url %>
		<%= form.text_field :url, class: "input"%>
	</div>

	<div class="my-5">
		<%= form.label :media do %>
			<span class="block mb-1">Attach an Image/Video</span>
			<%= form.file_field :media, class: "inline-flex items-center rounded-md bg-indigo-50 px-2 py-1 text-xs font-medium text-indigo-700 ring-2 ring-inset ring-indigo-600/20"%>
		<% end%>
	</div>

	<div class="inline">
		<%= form.submit class: "btn btn-indigo" %>
	</div>
<% end %>
