<li id="<%= dom_id submission %>">
	<div class="flex flex-wrap items-center p-2">
		<div>
			<% if submission.media.attached? %>
				<% if submission.media.video?%>
					<%= video_tag submission.media%>
				<%else%>
					<%= image_tag submission.media, alt: submission.title, class: ""%>
				<%end%>
			<% end %>
		</div>

		<div class="<%= "pl-4" if submission.media.attached?  %>%">
			<h3 class="flex flex-wrap items-center mb-1 text-xl">
				<%= link_to submission.title, submission, class: "no-underline"%>
				<% if submission.url? %>
					<span class= "pl-2 font-mono text-xs font-normal tracking-tighter text-indigo-400">
						<%= truncate(submission.url, length: 18 ) %>
					</span>
				<% end%>
			</h3>
			<% if submission.body? %>
				<div class="text-sm text-gray-900">
					<%= truncate(submission.body, length: 140 ) %>
				</div>
			<% end %>
			<% if user_signed_in? && current_user.id == submission.user_id%>
				<div class="flex flex-wrap items-center pt-2">
					<%= link_to edit_submission_path(submission), class:"no-underline mr-2" do %>
						<%= render_svg "icons/edit", title: "Edit", styles: "fill-current text-gray-400 w-5"%>
					<% end%>
				</div>
			<% end%>
		</div>
	</div>
</li>
