<%# <div class="w-full">
	<% if notice.present?
		<p class="inline-block px-3 py-2 mb-5 font-medium text-green-500 bg-green-50 rounded-lg" id="notice"><%= notice </p>
	<% end

	<div class="flex justify-between items-center">
		<h1 class="text-4xl font-bold">Submissions</h1>
		<%= link_to "New submission", new_submission_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium"
	</div>

	<div id="submissions" class="min-w-full">
		<%= render @submissions
	</div>
</div> %>
<% content_for :primary_content do %>
	<h1>Submissions</h1>
	<div id="submissions">
		<% @submissions.each do |submission| %>
			<%= render submission%>
			<p>
				<%= link_to "Show this submission", submission%>
			</p>
		<% end%>
	</div>
<% end %>
<% content_for :secondary_content do%>
	<%= link_to "New submission", new_submission_path %>
<% end %>
<%=  render "basic_layout" %>
