<% title @submission.title%>

<%= content_for :community_label, @submission.community.name %>
<%= render "communities/header", community: @submission.community%>

<%= content_for :primary_content do %>
	<div class="flex flex-row justify-between">
		<%= render "voting", submission: @submission %>
		<div class="flex-1">
			<p class="text-sm text-gray-600">Posted By: <%= link_to @submission.user.username, profile_path(@submission.user), class:"underline"%> <%= time_ago_in_words(@submission.created_at) + " ago" %></p>
			<h1 class="mb-6 text-3xl font-bold"> <%= @submission.title%></h1>

			<% if @submission.media.attached?%>
				<% if @submission.media.video?%>
					<%= video_tag @submission.media%>
				<%else%>
					<%= image_tag @submission.media, alt: @submission.title, class: "rounded-sm "%>
				<%end%>
			<%end%>

			<%= if @submission.body? %>
				<div class="prose prose-lg prose-indigo">
					<%= simple_format @submission.body%>
				</div>
			<% end%>

			<%= if @submission.url?%>
				<%= link_to truncate(@submission.url, length:100), @submission.url, class:"font-mono text-indigo-500 hover:underline", target: :_blank%>
			<% end%>
			<div class="flex items-center mt-6 space-x-5">
				<div class="flex items-center space-x-3">
					<%= render_svg "icons/conversation", styles:"w-5 fill-current text-gray-500 mt-1"%>
					<p id="<%= dom_id(@submission)%>_comment_count">
						<%= pluralize(@submission.comments.size, ' comment')%>
					</p>
				</div>
				<% if author_of?(@submission) %>

					<%= link_to  edit_submission_path(@submission), class:"group" do%>
						<span class="sr-only">Edit this submission</span>
						<%= render_svg "icons/edit", styles: "w-5 fill-current group-hover:text-indigo-600 text-gray-500"%>
					<% end%>
					<%= button_to submission_path(@submission),  method: :delete, data: {confirm: "Delete this post?", turbo_method: :delete }, class:"group" do %>
						<span class="sr-only">Delete this submission</span>
						<%= render_svg "icons/delete", styles:"w-5 fill-current group-hover:text-indigo-600  text-gray-500 mt-1"%>
					<% end%>
				<% end %>
			</div>
		</div>

	</div>
	<div class="pt-6 mt-6 border-t border-gray-300">

		<%= if user_signed_in?%>
			<div id="<%= dom_id(@submission)%>_comments">
				<%= render "comments/form", comment: Comment.new%>
			</div>
		<% else%>
			<div class="p-4 mt-6 text-center bg-gray-50 rounded">
				<%= link_to "Login to reply",new_user_session_path, class: "text-indigo-600 underline"%>
			</div>
		<% end%>
		<%# Add no comments made fluff %>
		<h3 id="post_comment_section"class="mt-6 font-bold">Comments</h3>
		<div id="<%= dom_id(@submission)%>_comments_form">
			<%= if @submission.comments.any? %>

				<%= render @submission.comments %>
			<%end %>
		</div>

	</div>
<%end%>

<%= content_for :secondary_content do %>
	<%= render "communities/sidebar", community: @submission.community%>

<%end%>
<%= render "basic_layout"%>
