<div class="container mx-auto mt-10 text-gray-800 bg-white rounded shadow lg:p-8">
	<h1 class="text-3xl font-bold">Users</h1>
	<% @users.each do |user| %>
		<%= user.id%> - <%= user.username%>
		<div class="flex flex-wrap justify-start mb-10 items lg:my-4">
			<div class="mb-2 w-full lg:w-1/4 lg:m-0">
				<%= link_to profile_path(user), class:"flex items-center" do%>
					<%= gravatar_for(user, class:"rounded-full w-8 h-8" )%>
					<p class="ml-4"><%= user.username%></p>
				<%end%>
			</div>
		</div>
		<div class="lg:w-1/4">

			<%= user.email%>
		</div>
		<div class="lg:w-1/4">
			Account created <%= time_ago_in_words( user.created_at) + " ago"%>
		</div>
		<div class="lg:w-1/4">
			<%= button_to "Delete", profile_path(user), method: :delete, class:"btn btn-outline btn-small"%>
		</div>
	<%end%>

</div>
