<div class="p-10 mx-auto my-16 max-w-4xl bg-white rounded shadow-lg">

	<h1 class="text-3xl font-bold">Results for <span class="font-mono italic font-normal">
			<%= params[:query] %>
		</span></h1>
	<%if @results.any?%>
		<% @results.each do |result|%>
			<%# Comment search might be busted atm %>
			<%= if result.searchable.is_a?(Comment)%>
				<div class="py-6 my-10 border-t">
					<h3 class="text-xl font-bold text-indigo-600">Comments</h3>
					<ul class="list-none">
						<%= render "comments/comment", comment: result.searchable, submission: result.searchable.submission_id%>
					</ul>
				</div>
			<%end%>
			<%= if result.searchable.is_a?(Community)%>
				<div class="py-6 my-10 border-t">
					<h3 class="text-xl font-bold text-indigo-600">Communities</h3>
					<ul class="list-none">
						<%= render "communities/community", community: result.searchable%>
					</ul>
				</div>
			<%end%>
			<%= if result.searchable.is_a?(Submission)%>
				<div class="py-6 my-10 border-t">
					<h3 class="text-xl font-bold text-indigo-600">Submissions</h3>
					<ul class="list-none">
						<%= render "submissions/submission", submission: result.searchable%>
					</ul>
				</div>
			<%end%>
		<% end%>
	<%else%>
		Nothing matched your search for <%= params[:query]%>
	<%end%>
</div>
