<li id="<%= dom_id community %>" class="py-3">
	<p class="text-sm text-gray-600">w/<%= community.name %></p>
	<%= link_to community, class:"hover:text-indigo-600" do %>
		<h3 class="font-semibold">
			<%= community.title %>
		</h3>
	<% end%>
	<div class="mb-4 prose prose-indgo"> <%= truncate(community.description, length: 140)%></div>
	<p class="text-xs text-gray-500">
		<%= community.updated_at.to_formatted_s(:nice)%>

	</p>
	<% if author_of?(community) %>
		<div class="flex items-center mt-6 space-x-3">

			<%= link_to edit_community_path(community), class:" btn btn-outline inline-flex items-center text-gray-600 text-sm" do%>
				<%= render_svg "icons/edit", styles:"w-4 h-4 fill-current text-gray-500 mr-2"%>
				Edit
			<% end%>
			<%= button_to community_path(community), class:" btn btn-outline inline-flex items-center text-gray-600 text-sm hover:text-red-600 group" do%>
				<%= render_svg "icons/delete", styles:"w-4 h-4 group-hover:text-red-600 mr-2 fill-current text-gray-500",  method: :delete, data: {confirm: "Delete this post?", turbo_method: :delete }%>
				Delete
			<% end%>

		</div>

	<% end%>
</li>
