<% title @community.title%>
<% content_for :community_label, @community.name%>

<%= render "header", community: @community%>

<% content_for :primary_content do %>
	<% if @community.submissions.any? %>

		<ul class="list-none divide-y">
			<% @community.submissions.each_with_index do |submission,index| %>
				<%= inject_feed_ad(index) %>
				<%= render "submissions/submission", submission: submission %>
			<% end %>
		</ul>
	<% else %>
		<div class="p-10 text-center">
			<div class="flex justify-center list-none">
				<%= render_svg "icons/empty" %>
			</div>
			<p class="mb-5">No content...</p>
			<%= link_to  "Make a submission" , new_submission_path, class: "btn btn-indigo"%>
		</div>

	<%end %>
<% end %>

<% content_for :secondary_content do%>
	<%= render "sidebar", community: @community %>
<% end %>

<%= render "basic_layout" %>
