<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>
		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
		<%= javascript_include_tag "application","https://js.stripe.com/v3/", "data-turbo-track": "reload" %>
		<%= favicon_link_tag asset_path("favi/favicon-96x96.png")%>
		<%= display_meta_tags(
			site: "Fight and brigade communities",
			reverse: true,
			og: {
				title: :title,
				type: "website",
				url: request.original_url,
				image: [{
					_: image_url("/drdiagnosis.jpg"),
					width: 1200,
					height: 630
				}],
				site_name: "BrigadeIt",
				description: "Where one gathers to extinguish, those who are incorrect"
			},
			twitter:{
				card: "photo",
				image: {
					_: image_url("/drdiagnosis.jpg"),
					width: 1200,
					height: 630
				}
			},
			author: 'BreadIt',
			description: "My metamask was hacked"
		) %>
		<%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
	</head>
	<body class="overflow-x-hidden relative h-screen bg-gray-200 accent-indigo-600">

		<%= render "admin/nav" if params[:controller].include?("admin")%>

		<% flash.each do | type, message| %>
			<% if type == "alert" %>
				<div class="bg-red-500" >
					<div class="container px-2 py-4 mx-auto font-medium text-center text-white font-san">
						<%= message %>
					</div>
				</div>
			<% end %>
			<% if type == "notice" %>
				<div class="bg-green-500" >
					<div class="container px-2 py-4 mx-auto font-medium text-center text-white font-san">
						<%= message %>
					</div>
				</div>
			<% end %>
		<% end %>
		<nav class="py-2 bg-white border-b border-gray-400" role="navigation" aria-label="main navigation">
			<div class="flex flex-col flex-wrap justify-center items-center px-4 py-3 lg:flex-row lg:justify-start lg:content-center lg:px-6 lg:py-0 lg:space-x-3" >
				<%= link_to root_path, class: "leading-normal no-underline text-gray-800 my-2  hover:text-purple-600" do %>
					<h1 class="pr-2 text-lg font-semibold uppercase">Webbit</h1>
				<% end %>
				<div class="flex flex-col flex-wrap flex-1 justify-start w-full lg:flex-row">
					<div class="flex flex-wrap flex-1 items-center space-x-6">
						<div class="w-1/3">
							<% if @communities.any? %>
								<div data-controller="dropdown" class="relative z-10 ml-1 text-gray-700 bg-white hover:bg-gray-50">
									<%= link_to "#",
									 class: "border no-underline flex items-center justify-between text-gray-700 py-2 px-3 rounded border-gray-400",
									 data: {
										 	action: "click->dropdown#toggle click@window->dropdown#hide"
										 } do %>
										<span class="text-sm font-semibold">
											<%= content_for?(:community_label) ?
											"#{(action_name != "edit" && action_name != "new" && action_name != "index" ? "w/" : "")}#{yield(:community_label)}" :
											"Select a community" %>
										</span>
										<div class="flex absolute right-2 inset-y-5 items-center pointer-events-none">
											<%= render_svg "icons/chevron-down", styles: "navigation-icon" %>
										</div>
									<% end %>
									<ul class="hidden absolute left-0 top-9 rounded border border-t-0 border-gray-400 divide-y shadow-lg -z-10 bg-inherit min-w-56" data-dropdown-target="menu">
										<% @communities.each do |community| %>
											<li>
												<%= link_to community, class:"bg-inherit rounded  dropdown-menu group " do %>
													<%= render_svg "icons/conversation", styles: "mr-2 dropdown-menu-item-pic"%><span>w/</span><%= community.name %>
												<%end%>
											</li>
										<%end%>
									</ul>
								</div>
							<% end %>
						</div>

						<div class="flex-1">
							<div class="relative">
								<%= form_with(url: search_path,
								 class: "search-container",
								 method: :get, data:{turbo_frame: "searches"}) do |form| %>
									<%= form.text_field :query,
									 class: "search-input",
									 placeholder:"Search..."%>
									<div class="search-icon">
										<%= render_svg "icons/search", styles: "navigation-icon" %>
									</div>
								<% end %>
							</div>
						</div>
						<div class="flex justify-end pl-5 mx-auto h-full lg:ml-auto lg:pt-0">
							<div class="flex items-center mr-1 text-center">
								<% if user_signed_in? %>
									<%= link_to new_submission_path,
									 class: "hover:text-indigo-600 hover:bg-indigo-50  fill-current text-gray-600 rounded-md block p-2" do %>
										<%= render_svg "icons/create",
										styles: "navigation-icon stroke-none",
										title: "Create submission" %>
									<% end %>
								<% else %>
									<%= link_to "Login", new_user_session_path, class: " btn btn-small btn-outline mr-2" %>
									<%= link_to "Sign up", new_user_registration_path, class: "btn btn-small btn-indigo" %>
								<% end %>
							</div>
							<% if user_signed_in? %>
								<div data-controller="dropdown" class="relative mx-auto text-gray-600 bg-white rounded border border-gray-400 hover:bg-gray-200">

									<%= link_to "#",
									 class: "no-underline flex justify-between text-sm tracking-wide ml-1  px-3 py-2  w-full items-center font-semibold",
									 data: {
											action: "click->dropdown#toggle click@window->dropdown#hide"
										} do %>
										<%= current_user.username ||= current_user.email%>
										<%= render_svg "icons/chevron-down", styles: "ml-2 navigation-icon" %>
									<% end %>
									<div class="relative">
										<ul class="hidden absolute right-[11.96rem] bg-white rounded border border-gray-400 shadow-lg transform translate-x-full min-w-48" data-dropdown-target="menu">
											<% if current_user.admin?%>
												<li>
													<%= link_to admin_root_path, class:"   dropdown-menu group" do %>
														<%= render_svg "icons/key", styles: "dropdown-menu-item-pic"%>
														Admin
													<% end%>
												</li>
											<% end%>

											<li>
												<%= link_to profile_path(current_user), class:"   dropdown-menu group" do %>
													<%= render_svg "icons/user", styles: "dropdown-menu-item-pic"%>
													My Profile
												<% end%>
											</li>
											<li>
												<%= link_to edit_user_registration_path, class:"  dropdown-menu group" do %>
													<%= render_svg "icons/settings", styles: "dropdown-menu-item-pic"%>
													Account Settings
												<% end%>
											</li>
											<li>
												<%= button_to destroy_user_session_path, method: :delete, class:" dropdown-menu  group w-full" do %>
													<%= render_svg "icons/signout", styles: "dropdown-menu-item-pic"%>
													Logout
												<% end%>
											</li>
										</ul>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<%= yield %>
	</body>
</html>
